<table>
    <thead>
        <tr>
            <th>Section</th>
            <th>Stage</th>
            <th>Group</th>
            <th>Assigned technical writer</th>
        </tr>
    </thead>
    <tbody>
        {{- $sorted_stages := (sort site.Data.public.stages.stages "display_name") }}
        {{- range $section_key, $section := site.Data.public.sections }}
        {{- range $stage := (where $sorted_stages "section" "eq" $section_key) }}
        {{- $stage_key := anchorize $stage.display_name }}
        {{- range $group_key, $group := .groups }}
        <tr>
            <td><a href="{{ ref page (printf "/handbook/product/categories#%s-section" $section_key) }}">{{ $section.name }}</a></td>
            <td><a href="{{ ref page (printf "/handbook/product/categories#%s-stage" $stage_key) }}">{{ $stage.display_name }}</a></td>
            <td><a href="{{ ref page (printf "/handbook/product/categories#%s-group" $group_key) }}">{{ $group.name }}</a></td>
            <td>
                {{- with .tech_writer -}}
                    {{- range (slice | append .) -}}
                        {{- if hasPrefix . "#" -}}
                            <img src="/images/slack-mark.png" style="padding:4px" alt="Slack Logo" class="avatar" height="40" width="40"> {{ . }}
                        {{- else -}}
                            <div class="mb-2">
                            {{- with (index (where site.Data.public.team "name" "eq" .) 0) }}
                            {{- partial "member/with-team-link" . }}<br>
                            {{- else }}
                            <span class="not-found" style="white-space: nowrap;"><img class="avatar" src="https://about.gitlab.com/images/gitlab-logo-extra-whitespace.png" width="40" height="40" alt="{{ . }}">{{.}}</span><br>
                            {{- end }}
                            </div>
                        {{- end -}}
                    {{- end -}}
                {{- end }}
            </td>
        </tr>
        {{- end }}
        {{- end }}
        {{- end }}
    </tbody>
</table>
